<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="nav">
        <div class="title">
            <h1>NER</h1>
        </div>

        <div class="links">
            <a href="/" class="active">Home</a>
            <a href="/create">Create</a>
        </div>
    </div>

    <div class="main-content">
        <div class="container main">
            <div class="left">
                <div class="tag-container">

                </div>
            </div>
            <div class="right">
                <textarea name="" id="" class="textInput"></textarea>

                <div class="actions">
                    <div class="horizontalSpaceBetween">
                        <h1>NER Output:</h1>
                        <button class="submit">Submit</button>
                    </div>
                </div>

                <div class="output">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi qui dolorem reiciendis nulla? Tempore rem quo vero delectus! Adipisci perspiciatis voluptatibus aut ea labore incidunt vel amet temporibus qui.
                </div>
            </div>
        </div>
    </div>

    <script src="/static/scripts/main.js"></script>
</body>

</html>